 # Copyright (c) 2022, salesforce.com, inc.
 # All rights reserved.
 # SPDX-License-Identifier: BSD-3-Clause
 # For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/BSD-3-Clause

model:
  arch: blip2_vicuna_instruct_textinv
  load_finetuned: True
  load_pretrained: True

  pretrained: "https://storage.googleapis.com/sfr-vision-language-research/LAVIS/models/InstructBLIP/instruct_blip_vicuna7b_trimmed.pth"
  # finetuned: "/home/denny/LAVIS/lavis/output/BLIP2/Textual_inv/20230901120/checkpoint_best.pth" # SD2
  # finetuned: "/home/denny/LAVIS/lavis/output/BLIP2/Textual_inv/20230901121/checkpoint_best.pth" # SDXL
  # finetuned: "/home/denny/LAVIS/lavis/output/BLIP2/Textual_inv/20230901122/checkpoint_best.pth" # IF
  # finetuned: "/home/iammingggg/detection/LAVIS/lavis/output/BLIP2/Textual_inv/20230911185/checkpoint_best.pth" # SD2+IP(imbalance)
  # finetuned: "/home/iammingggg/detection/LAVIS/lavis/output/BLIP2/Textual_inv/20230912013/checkpoint_best.pth" # SD2+IP(balance)
  # finetuned: "/home/denny/LAVIS/lavis/output/BLIP2/Textual_inv/20230919125/checkpoint_best.pth" # SD2+IP (balance, prefix)
  # finetuned: "/home/denny/LAVIS/lavis/output/BLIP2/Textual_inv/20230919023/checkpoint_best.pth" # SD2+IP (balance, replace)
  # finetuned: "/home/denny/LAVIS/lavis/output/BLIP2/Textual_inv/20230921180/checkpoint_best.pth" # SD2+IP (90/30/30, prefix)
  finetuned: "/home/denny/LAVIS/lavis/output/BLIP2/Textual_inv/20230921181/checkpoint_best.pth" # SD2+IP (90/30/30, replace)

  # vit encoder
  image_size: 224
  drop_path_rate: 0
  use_grad_checkpoint: False
  vit_precision: "fp16"
  freeze_vit: True

  # Q-Former
  num_query_token: 32

  # path to Vicuna checkpoint
  llm_model: "/eva_data0/denny/vicuna-7b-v1.3"

  # generation configs
  prompt: "[*] Is this photo real?"
  pseudo_word: "[*]"
  # init_word: "real"


preprocess:
    vis_processor:
        train:
          name: "blip2_image_train_textinv"
          image_size: 224
          # COCO (90k) + SD2 + SD2IP 
          mean: [0.4730, 0.4499, 0.4129]
          std: [0.2780, 0.2713, 0.2872]
        eval:
          name: "blip_image_eval_textinv"
          image_size: 224
          # COCO (90k) + SD2 + SD2IP 
          mean: [0.4730, 0.4499, 0.4129]
          std: [0.2780, 0.2713, 0.2872]
    text_processor:
        train:
          name: "blip_question_textinv"
          prompt: "[*] Is this photo real?"
          pseudo_word: "[*]"
        eval:
          name: "blip_question_textinv"
          prompt: "[*] Is this photo real?"
          pseudo_word: "[*]"
